<HTML>
    <HEAD>
    <TITLE>Balance Game to Test my Preference Lv1</TITLE>
    <span style=" font: italic bold 2em/1em Georgia, serif ; color:#a52a2a;">
    <BR><H1 align="center" size="30"> Lv 1. </H1><BR></span>
    </HEAD>
    <BODY style="background-color:#f7cac9">
    <span style=" font: italic bold 1.2em/1em Georgia, serif ; color: #a52a2a;">
    <center><a href="Lv2.html"><button onclick="button1_click();" id='Lv11'; style="color: white; background:#ff7777; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:25px; "><b>100%확률로 로또당첨되기<BR>(몇등일지 모름)</b></button></a></center>
    <BR><H1 align="center" size="10">VS</H1></BR>
    <center><a href="Lv2.html"><button id='Lv12'; style="color: white; background:#ff9797; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:25px;"><b>50%확률로 10억받기 </b></button></a></center>
    <br><center><button style="background: white;" onclick="goBack()">Back</button>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>
    <button style="background: white;" onclick="window.location.href='#top'">Top</button></center>
    </span>
    <BR>
    <script>
        function btn(){
            if(onclick="button1_click();"){
                
            }
        }
        var Lv11=document.getElementsById("Lv11");
        var Lv12=document.getElementsById("Lv12");
        var result1=document.getElementsById("result2");

        Lv11.onclick=function(){
            result2=='S'
        }
        Lv12.onclick=function(){
            result2=='N'
        }

    </script>
    </BODY>
    </HTML>