<HTML>
<HEAD>
<TITLE>Balance Game to Test my Preference Lv6</TITLE>
<span style=" font: italic bold 2em/1em Georgia, serif ; color:#a52a2a;">
<BR><H1 align="center" size="30"> Lv 6. </H1><BR></span>
</HEAD>
<BODY style="background-color:#f7cac9">
<span style=" font: italic bold 1.2em/1em Georgia, serif ; color: #a52a2a;">
<center><a href="Lv7.html"><button style="color: white; background:#ff7777; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:25px;" ><b>콧구멍 크기가 <BR>눈크기랑 같아지기</b></button><a></center>
<BR><H1 align="center" size="10">VS</H1></BR>
<center><a href="Lv7.html"><button style="color: white; background:#ff9797; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:23px;"><b>눈크기가<BR>콧구멍 크기랑 같아지기</b></button><a></center>
    <br><center><button style="background: white;"onclick="goBack()">Back</button>
<script>
function goBack() {
    window.history.back();
}
</script>
<button style="background: white;"onclick="window.location.href='#top'">Top</button></center>
</span>
<BR>
</BODY>
</HTML>