<HTML>
<HEAD>
<TITLE>Balance Game to Test my Preference Final</TITLE>
<span style=" font: italic bold 2em/1em Georgia, serif ; color:#a52a2a;">
<BR><H1 align="center" size="30"> Final. </H1><BR></span>
<span style=" font-size:24; color:BLACK;"> <H2 align="center" size="40"> <b>"나는 이 게임을 하는동안"</b> </H2></span>
</HEAD>
<BODY style="background-color:#f7cac9">
<span style=" font: italic bold 1.2em/1em Georgia, serif ; color: #a52a2a;">
<center><a href="Result.html"><button id='Lv81'; style="color: white; background:#ff7777; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:25px;" ><b>고민하느라 시간이 꽤 걸렸다</b></button><a></center>
<BR><H1 align="center" size="10">VS</H1></BR>
<center><a href="Result.html"><button id='Lv82'; style="color: white; background:#ff9797; font-size:1em; padding:5px 20px; border-radius:0.5em; width:300px;height:180px;font-size:22px;" ><b>생각보다 쉬워서 금방했다</b></button><a></center>
    <br><center><button style="background: white;"onclick="goBack()">Back</button>
<script>
function goBack() {
    window.history.back();
}
var Lv81=document.getElementsById("Lv81");
        var Lv82=document.getElementsById("Lv82");
        var result1=document.getElementsById("result3");

        Lv81.onclick=function(){
            result3=='T'
        }
        Lv12.onclick=function(){
            result3=='F'
        }
</script>
<button style="background: white;"onclick="window.location.href='#top'">Top</button></center>
</span>
<BR>
</BODY>
</HTML>