<HTML>
<HEAD>
<TITLE>Balance Game to Test my MBTI </TITLE>
</HEAD>
<BODY style="background-color:#f7cac9">
<BR></BR>
<span style=" font: italic bold 2em/1em Georgia, serif ; color:#a52a2a;">
<BR><H1 align="center" size="30"> Balance Game to <BR></BR> Test my MBTI</H1><BR></span>
<center><font-size:30;><input id='name'; type="text" name="ireum"  placeholder="이름을 입력하세요."></font>
  <a href="Lv1.html"><button type="submit" style="color: White; background:#ff8989; font-size:20; padding:5px 20px; 
  border-radius:0.5em; width:70px;height:30px;font-size:15px;"><b>OK</b></button></a>
</center>
<script>
  function btn() {
      var name = document.getElementsByTagName('input')[0].value
  }
  name.onclick=function(){
        document.getElementById("input name").value
        }

</script>
</BODY>
</HTML>